

<div class="header">
<h1>Welcome to Family Fridge</h1>
<h3> Welcome <%= @user.user_name %> </h3>

<h4><a href="/logout">Logout</a></h5>
</div>


<div class="newnotebox">
  <table>
    <tr>
      <form action= "/new/note" method= "post">

      <p> Create a New Note
      <input type = "text" name="description" size="60">
      <input type = "submit" value="Create New Note"></p>

    </tr>
  </table>
</div>


    <ul>
      <% @note.each do |note| %>
      <div class = "notebox">
      <li><%= note.description %></li>
      <li>Created by: <%= note.user.user_name if note.user != nil %></li>
      <li>Posted <%=prettify(note.created_at.to_s)%></li>
      <a href= "/note/<%=note.id%>/edit">Update</a>
      <a href= "/note/<%=note.id%>/delete">Delete</a>
      <a href= "/note/<%=note.id%>/seen">Mark as Seen</a>

      </div>



      <div class ="seenbox">
      <p> Seen By</p>
      <ul><% note.who_has_seen.each do |user| %>

           <li> <%=user.user_name %> </li>

           <%end%>
      </ul>
      </div>

      <%end%>
    </ul>









